.typing-container {
  margin-top: 5%;
  padding: 2%;
  font-weight: 600;
  overflow-wrap: break-word;
}

.typing {
    margin: 0 auto;
    width: 31rem;
    border-right: 2px solid rgba(0,0,0,.75);
    font-size: 2.2rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(27) 1s 1 normal both,
             blinkTextCursor 500ms steps(27) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 31rem;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(0,0,0,.75);}
  to{border-right-color: transparent;}
}

@media only screen and (max-width:777px) {
  .typing {
    width: 17rem;
    font-size: 1.2rem;
  }

  @keyframes typewriter{
    from{width: 0;}
    to{width: 17rem;}
  }
}

/* Text-1 */
.home-text-1 {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 200;
  line-height: 2rem;
}

.software-img {
  width: 80%;
}

.software-img-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
