.software-img {
  width: 90%;
}

.software-div {
  margin-top: auto;
  margin-bottom: auto;
}

.software-img-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.software-img-text {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 200;
}
